/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
	- Caps lock is combination escape and left-control
	- fn+<num>		= F keys
	- fn+<h,j,k,l>	= arrows
	- Modifiers in bottom left corner act as arrows when tapped, normal when held
	- fn+modifiers in bottom left corner act as arrows

	- fn+caps		= extra layer, arrows always on, caps is caps, ` is esc
	- fn+tab		= defaut layer
	- fn+backspace	= soft off

	The extra layer is intended to work as a "normal" keyboard as much as
	possible, with the exception that the modifiers in the bottom left are only
	used as arrow keys in this mode.
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FN		1
#define EXTRA	2

/*
&kscan0 {
    debounce-press-ms = <35>;
    debounce-release-ms = <5>;
};
*/

/ {
	behaviors {
		ce: caps_to_esc {
			compatible = "zmk,behavior-hold-tap";
			label = "CAPS_TO_ESC";
			#binding-cells = <2>;
			tapping-term-ms = <400>;
			quick-tap-ms = <150>;
			flavor = "hold-preferred";
			bindings = <&kp>, <&kp>;
		};
    };

    keymap {
        compatible = "zmk,keymap";

// ----------------------------------------------      ----------------------------------------------
// | GRAVE |  1   |  2  |  3   |  4  |  5  |  6  |      |  7  |  8  |  9  |  0  |  -  |  =  |  BKSPC|
// | TAB   |  Q   |  W  |  E   |  R  |  T  |        |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |  \  |
// | LCTRL  |  A   |  S  |  D   |  F  |  G  |        |  H  |  J  |  K  |  L  |  ;  |  '  |   ENTER  |
// | SHIFT   |  Z   |  X  |  C  |  V   |  B  |        |  N  |  M  |  ,  |  .  |  /  |  RSHFT        |
// | LCTRL   | LALT | LGUI |   SPACE   | FN  |        |    SPACE         | RGUI | RALT | FN | RCTRL |
// -------------------------------------------        -----------------------------------------------

// NOTE The original quefrency board has a number of optional keys, so I have
// set the keys that don't exist in my physical hardware to &none

        default_layer {
            bindings = <
/* Left side */                                                                       /* Right side */                                                                             /* Dummy keys */
&kp GRAVE      &kp N1       &kp N2       &kp N3       &kp N4 &kp N5 &kp N6      /* */ &kp N7    &kp N8   &kp N9    &kp N0    &kp MINUS &kp EQUAL      &kp BSPC               /* */ &none
&kp TAB        &kp Q        &kp W        &kp E        &kp R  &kp T              /* */ &kp Y     &kp U    &kp I     &kp O     &kp P     &kp LBKT       &kp RBKT &kp BSLH      /* */ &none
&ce LCTRL ESC  &kp A        &kp S        &kp D        &kp F  &kp G              /* */ &kp H     &kp J    &kp K     &kp L     &kp SEMI  &kp SQT        &kp RET                /* */ &none
&kp LSHFT      &kp Z	    &kp X        &kp C        &kp V  &kp B              /* */ &kp N     &kp M    &kp COMMA &kp DOT   &kp FSLH                 &ce RSHFT UP           /* */ &none &none
&mo FN         &kp LALT     &kp LGUI     &mo FN       &kp SPACE                 /* */ &kp SPACE &kp RGUI &ce RALT LEFT &none &ce RCTRL DOWN &ce RCTRL RIGHT
            >;
        };

        fn_layer {
            bindings = <
/* Left side */                                                                       /* Right side */                                                                             /* Dummy keys */
&trans         &kp F1       &kp F2       &kp F3       &kp F4 &kp F5 &kp F6      /* */ &kp F7    &kp F8   &kp F9    &kp F10   &kp F11   &kp F12        &soft_off              /* */ &none
&to DEFAULT    &trans       &trans		 &trans       &trans      &trans        /* */ &trans    &trans   &trans    &trans    &trans    &trans         &trans   &trans        /* */ &none
&to EXTRA      &trans       &trans       &trans       &trans      &trans        /* */ &kp LEFT  &kp DOWN &kp UP    &kp RIGHT &trans    &trans         &trans                 /* */ &none
&trans         &trans       &kp K_CUT    &kp K_COPY   &kp K_PASTE &trans        /* */ &trans    &trans   &trans    &trans    &trans                   &kp UP                 /* */ &none &none
&trans         &trans       &trans       &trans       &trans                    /* */ &trans    &trans   &kp LEFT  &none     &kp DOWN  &kp RIGHT
            >;
        };

        extra_layer {
            bindings = <
/* Left side */                                                                       /* Right side */                                                                             /* Dummy keys */
&kp ESC        &trans       &trans       &trans       &trans &trans &trans      /* */ &trans    &trans   &trans    &trans    &trans    &trans         &trans                 /* */ &none
&trans         &trans       &trans		 &trans       &trans      &trans        /* */ &trans    &trans   &trans    &trans    &trans    &trans         &trans   &trans        /* */ &none
&kp CLCK       &trans       &trans       &trans       &trans      &trans        /* */ &trans    &trans   &trans    &trans    &trans    &trans         &trans                 /* */ &none
&trans         &trans       &trans       &trans       &trans      &trans        /* */ &trans    &trans   &trans    &trans    &trans                   &kp UP                 /* */ &none &none
&kp LCTRL      &trans       &trans       &trans       &trans                    /* */ &trans    &trans   &kp LEFT  &none     &kp DOWN  &kp RIGHT
            >;
        };

    };
};

